[submodule "px4_msgs"]
	path = xtd2_third_party_pkgs/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15
	
[submodule "ego-planner-swarm"]
	path = xtd2_third_party_pkgs/motion_planning/ego-planner-swarm
	url = https://github.com/ypat999/ego-planner-swarm.git
	branch = ros2_version

[submodule "Super-LIO"]
	path = lio/Super-LIO
	url = https://github.com/ypat999/Super-LIO.git


[submodule "lio/lidar_localization_ros2"]
	path = lio/lidar_localization_ros2
	url = https://github.com/ypat999/lidar_localization_ros2.git

[submodule "lio/livox_ros_driver2"]
	path = lio/livox_ros_driver2
	url = https://github.com/ypat999/livox_ros_driver2.git

[submodule "lio/ndt_omp_ros2"]
	path = lio/ndt_omp_ros2
	url = https://github.com/rsasaki0109/ndt_omp_ros2.git

[submodule "Livox-SDK2"]
	path = lio/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
